root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,razor}]
indent_size = 4
dotnet_naming_rule.private_fields_should_have_underscore.severity = suggestion
dotnet_naming_rule.private_fields_should_have_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_should_have_underscore.style = _underscore_prefix
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_style._underscore_prefix.required_prefix = _
dotnet_naming_style._underscore_prefix.capitalization = camel_case
dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case
dotnet_naming_symbols.types.applicable_kinds = class, struct, enum, record
dotnet_naming_style.pascal_case.capitalization = pascal_case
dotnet_naming_rule.interfaces_should_be_ipascal_case.severity = suggestion
dotnet_naming_rule.interfaces_should_be_ipascal_case.symbols = interfaces
dotnet_naming_rule.interfaces_should_be_ipascal_case.style = ipascal_case
dotnet_naming_symbols.interfaces.applicable_kinds = interface
dotnet_naming_style.ipascal_case.required_prefix = I
dotnet_naming_style.ipascal_case.capitalization = pascal_case
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_prefer_braces = when_multiline:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
dotnet_style_readonly_field = true:warning
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_diagnostic.IDE0040.severity = warning

[*.{css,js,html,json,yml,yaml}]
indent_size = 2

[*.md]
indent_size = 2
trim_trailing_whitespace = false
